.header {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #ccdac9; */
}
.link {
  text-decoration: none;
  color: #000000;
  margin-left: 50px;
  font-weight: 500;
  font-size: 25px;
}
.link:hover {
  color: #287e00;
}
.active-link{
  color: #287e00;
  text-decoration: none;
  margin-left: 50px;
  font-weight: 500;
  font-size: 25px;
}
.active-link:hover{
  color: #287e00;
}

